/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .new-todo-link {
    color: #e5ebf1;
    text-decoration: none;
    font-weight: bold;
  }

  .new-todo-link:hover {
    color: white; /* Change text color on hover */
  }


  .card-body{
    background-color: #b992dd;
  }

  #showCard{
    margin-left: 70px;
  }

  #page-type{
    margin-left: 70px;
  }
/* Style for the container div */
#todos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
  }

 .nav-item {
    padding-bottom: 15px; /* Adjust the value as needed */
  }

  .navbar{
    background-color: rgb(161, 98, 219) !important; 
  }
  h1{
    color: #b992dd;
  }

  .submit-button{
    background-color: lime;
    color: white;
    border-color: rgba(0, 0, 0, 0.1);
  }

  .submit-button:hover {
    background-color: darkgreen;
  }
  
  @media (max-width: 768px) {
    .navbar-nav {
      flex-direction: row !important;
      margin-left: 10px;
      
    }

    .brand{
    }

    .nav-item {
      margin-right: 10px;
    }
  }
  